.table-responsive
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th ID
        th Name
        th Version
        th Type
    //tfoot
    //  tr
    //    th Name
    //    th Position
    //    th Office
    //    th Age
    //    th Start date
    //    th Salary
    tbody
      tr
        td 1
        td Postgress DB Service
        td 1.2.3
        td Docker
      tr
        td 2
        td User Login Service
        td 4.2.1
        td Docker
      tr
        td 3
        td Web UI
        td 1.4.2
        td Docker
