.table-responsive
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th ID
        th Label
        th Date
        th Environment
    //tfoot
    //  tr
    //    th Name
    //    th Position
    //    th Office
    //    th Age
    //    th Start date
    //    th Salary
    tbody
      tr
        td 1
        td Release 1
        td 2020/1/1
        td Bailey
      tr
        td 2
        td Release 2
        td 2020/2/1
        td Cirque Du Soleil
      tr
        td 3
        td Release 3
        td 2020/3/1
        td Circus Circus
      tr
        td 4
        td Release 4
        td 2020/4/1
        td Ringling
      tr
        td 5
        td Release 5
        td 2020/5/1
        td Barnum
      tr
        td 6
        td Release 6
        td 2020/6/1
        td Clowns Den
