.table-responsive
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th ID
        th Name
        th Type
    //tfoot
    //  tr
    //    th Name
    //    th Position
    //    th Office
    //    th Age
    //    th Start date
    //    th Salary
    tbody
      tr
        td 1
        td R3 Helm Chart
        td Helm Chart
      tr
        td 2
        td R3 Seed Data
        td Buildable
      tr
        td 3
        td R3 Config Data
        td Other
